resource-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
/*	padding: 10px;*/

	.resource-text {
		.website {
			text-decoration: underline;
		}
	}
	
	.button-group {
		display: flex;
		flex-direction: column;
		gap: 12px;
		@media (width >= 834px) {
			max-width: 50%;
		}

		@media (width >= 1200px) {
			max-width: 25%;
		}
	}
}