resource-card {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.resource-text {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.links-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 12px;

		a {
			text-decoration: underline;
		}

		.update {
			grid-column: 2;
		}
	}
	
	.button-group {
		
	
		@media (width >= 834px) {
			max-width: 50%;
		}

		@media (width >= 1200px) {
			max-width: 25%;
		}
	}
}